/*****************************
 **********begin theme-ing
 ********************************/
nav.navbar.has-shadow {
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.menu-list a.is-active {
    color: #23838d;
    background-color: transparent;
}
.menu-list a {
    color: #ffffff;
}
a.is-accent {
    color: #e91e63;
}
a.is-grey {
    color: #7f8a8f;
}
.icon.is-accent {
    color: #e91e63;
}
.custom-icon {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.25;
}

.has-padding-left-4 {
    padding-left: 4rem;
}
.has-padding-vertical-half {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.has-margin-right-2 {
    margin-right: 2rem;
}
.custom-padding {
    padding: 0.2rem .75rem;
}
.img-circle {
    border-radius: 100%;
}
.truncate {
    width: 30rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
li.aside-has-dropdown:hover > ul.aside-dropdown, li.aside-has-dropdown.active > ul.aside-dropdown {
    display: block;
    border-left: none;
}
li.aside-has-dropdown > ul.aside-dropdown {
    display: none;
}
.active-message {
    background: rgba(64, 224, 208, 0.35);
}
/*****************************
 **********end theme-ing
 ********************************/
/*****************************
 **********begin menu
 ********************************/
aside.menu.icon-menu {
    position: fixed;
    top: 3rem;
    overflow: hidden;
    width: 5%;
    padding: .5rem;
    background-color: #2c2741;
    height: 100vh;
    z-index: 998;
}
aside.menu.detailed-menu {
    position: fixed;
    top: 3rem;
    overflow: auto;
    margin-left: 4rem;
    padding-bottom: 4rem;
    width: 20%;
    background-color: #2f2a44;
    height: 100vh;
    z-index: 998;
}
/*******************************
***********end menu
**************************/

/*******************************
***********begin containing level elements
**************************/
.main-content {
    max-width: 1240px;
    position: absolute;
    width:75%;
    right: 0;
    top: 5rem;
    padding: .2rem;
    margin-top: 1.5rem;
    z-index: -1;
}
.block.is-title-bar {
    background-color: #2f2a44;
    height: 3rem;
    position: fixed;
    width: 100%;
    top: 3rem;
}
.block.is-title-bar > h1.title{
    line-height: 3rem;
    color: #ffffff;
    text-align: center  ;
}
.block:not(:last-child) {
     margin-bottom: 0;
}
.message-container {
    width: 40%;
    position: absolute;
    left: 0;
    /*background-color: yellow;*/
}
.message-container-trunc.truncate {
    width: 7rem;
    font-size: 14px;
}
.chat-container {
    background: whitesmoke;
    padding: 1rem;
    width: 60%;
    position: absolute;
    right: 0;
    min-height: 83vh
}
.send, .reply {
    background: rgba(3, 169, 244, 0.5);
    padding: 1rem;
    border-radius: 2rem;
    width: 80%;
    margin: .5rem 0;
}
.send {
    float: left;
}
.reply {
    float: right;
    background: rgba(76, 175, 80, 0.61);
}
.new {
    border: 3px solid turquoise;
}
.custom.is-bordered {
    border: 1px solid gray;
    width: 18rem;
    padding: .1rem 1rem;
}
span.icon.absolute-left {
    position: absolute;
    left: 1rem;
    height: 100%;
    padding: 1rem;
}
span.icon.absolute-right {
    position: absolute;
    right: 1rem;
    height: 100%;
    padding: 1rem;
}
.custom.is-bordered > p {
    margin: auto;
    padding: .2rem 3rem;
}
.is-link {
    cursor: pointer;
}
.custom.is-bordered > span > i.material-icons {
    font-size: 42px;
    border-radius: 100%;
    padding: 3px;
}
/*******************************
***********end containing level elements
**************************/

/*******************************
***********begin positioning
**************************/
.relative {
    position: relative;
}
/*******************************
***********end positioning
**************************/