<template>
    <div class="hero">
        <div class="hero-body">
            <form action="#">
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Course</label>
                </div>
                <div class="field-body">
                    <b-select placeholder="Select Course" v-model="announcement.course_id">
                        <option
                                v-for="course in fetchedCourses"
                                :value="course.id"
                                :key="course.id">
                            {{ course.name }}
                        </option>
                    </b-select>
                </div>
                <!--<div class="field-body">-->
                    <!--<div class="field is-narrow">-->
                        <!--<div class="control">-->
                            <!--<div class="select is-fullwidth">-->
                                <!--<b-autocomplete-->
                                        <!--v-model="course.name"-->
                                        <!--placeholder="Start typing courses"-->
                                        <!--:keep-first="course.keepFirst"-->
                                        <!--:data="course.data"-->
                                        <!--field="name"-->
                                        <!--@input="getAsyncData">-->
                                <!--</b-autocomplete>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Subject</label>
                </div>
                <div class="field-body">
                    <b-select placeholder="Select Subject" v-model="announcement.subject_id">
                        <option
                                v-for="subject in fetchedSubjects"
                                :value="subject.id"
                                :key="subject.id">
                            {{ subject.name }}
                        </option>
                    </b-select>
                </div>
                <!--<div class="field-body">-->
                    <!--<div class="field is-narrow">-->
                        <!--<div class="control">-->
                            <!--<div class="select is-fullwidth">-->
                                <!--<select name="subject_id" id="subject_id" class="select">-->
                                    <!--<option value="">Select Subject</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <label for="title" class="label">Title</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" name="title" id="title" placeholder="Write Title">
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <label for="description" class="label">Description</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="textarea" class="textarea" placeholder="Description goes here" name="description" id="description">
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-danger">
                        Decline
                    </a>
                </p>
                <p class="control">
                    <a class="button is-primary">
                        Send
                    </a>
                </p>
            </div>
            </form>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.getSubjects();
            this.getCourses();
        },
        watch: {
            fetchedSubjects: function () {
                if(!this.fetchedSubjects)
                    this.fetchedSubjects = this.getSubjects()
            },
            fetchedCourses: function () {
                if(!this.fetchedCourses)
                    this.fetchedCourses = this.getCourses()
            }
        },
        data() {
            return {
                announcement: {
                    course_id: null,
                    subject_id: null,
                    title: null,
                    description: null,
                },
                course: {
                    data: [],
                    name: '',
                    selected: null,
                    isFetching: false
                },
                fetchedSubjects: [],
                fetchedCourses: [],
                subject: null
            }
        },
        methods: {
            getAsyncData: debounce(function () {
                this.course.data = []
                this.course.isFetching = true
                axios.get('/course')
                    .then(response  => {
                        response.data.forEach((item) => this.course.data.push(item))
                        this.course.isFetching = false
                    }, response => {
                        this.course.isFetching = false
                    })
            }, 500),
            getSubjects: function() {
                axios.get('/api/subjects').then(response => {
                    this.fetchedSubjects = response.data.subjects;
                    console.log(response.data);
                }).catch(err => {
                    console.log(err);
                })
            },
            getFaculties: function () {
                axios.get('/api/faculties').then(response => {
                    this.fetchedFaculties = response.data.faculties;
                }).catch(err => {
                    console.log(err);
                })
            },
            getCourses: function () {
                axios.get('/api/courses').then(response => {
                    this.fetchedCourses = response.data.courses;
                }).catch(err => {
                    console.log(err);
                })
            },
            saveAnnouncement: function () {

            }
        }
    }
</script>