<template>
    <div class="hero">
        <div class="hero-body">
            <div class="columns is-multline">
                <form action="#" @submit.prevent="saveStaff">
                    <div class="column is-12">
                        <div class="columns is-multiline">
                            <div class="column is-8">
                                <div class="columns is-multiline">
                                    <div class="column is-12">
                                        <div class="field is-horizontal">
                                            <div class="field-label">
                                                <label class="label">First Name</label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control">
                                                        <input type="text" class="input" v-model="profile.first_name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-12">
                                        <div class="field is-horizontal">
                                            <div class="field-label">
                                                <label class="label">Middle Name</label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control">
                                                        <input type="text" class="input" v-model="profile.middle_name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-12">
                                        <div class="field is-horizontal">
                                            <div class="field-label">
                                                <label class="label">Last Name</label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control">
                                                        <input type="text" class="input" v-model="profile.last_name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-12">
                                        <div class="field is-horizontal">
                                            <div class="field-label">
                                                <label class="label">Employee NO</label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control">
                                                        <input type="text" class="input" v-model="profile.identifier">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-12">
                                        <div class="column is-2">
                                            <p class="control">Gender</p>
                                        </div>
                                        <div class="column is-auto">
                                            <b-field >
                                                <b-radio v-model="profile.gender" native-value="male">Male</b-radio>
                                                <b-radio v-model="profile.gender" native-value="female">Female</b-radio>
                                            </b-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-3 is-offset-1">
                                <b-field>
                                    <b-upload v-model="profile.avatar" drag-drop>
                                        <section class="section">
                                            <div class="content has-text-centered">
                                                <p>
                                                    <b-icon
                                                            icon="file_upload"
                                                            size="is-large">
                                                    </b-icon>
                                                </p>
                                                <p>Drop picture here or click to upload</p>
                                            </div>
                                        </section>
                                    </b-upload>
                                </b-field>
                                <div class="tags">
                                    <span v-for="(file, index) in profile.avatar"
                                          :key="index"
                                          class="tag is-primary" >
                                        {{file.name}}
                                        <button class="delete is-small"
                                                type="button"
                                                @click="deleteDropFile(index)">
                                        </button>
                                    </span>
                                </div>
                                <!--<figure class="image is-128x128">-->
                                    <!--<img src="http://bulma.io/images/placeholders/128x128.png" alt="">-->
                                <!--</figure>-->
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="column is-12">
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <h1 class="subtitle is-4">Additional Details</h1>
                                <div class="column is-12">
                                    <div class="field is-horizontal">
                                        <div class="field-label">
                                            <label class="label">Faculty</label>
                                        </div>
                                        <div class="field-body">
                                            <b-select placeholder="Select Faculty" v-model="profile.faculty_id">
                                                <option
                                                        v-for="faculty in fetchedFaculties"
                                                        :value="faculty.id"
                                                        :key="faculty.id">
                                                    {{ faculty.name }}
                                                </option>
                                            </b-select>
                                        </div>
                                    </div>
                                    <div class="field is-horizontal">
                                        <div class="field-label">
                                            <label class="label">Course</label>
                                        </div>
                                        <div class="field-body">
                                            <b-select placeholder="Select Course" v-model="profile.course_id">
                                                <option
                                                        v-for="course in fetchedCourses"
                                                        :value="course.id"
                                                        :key="course.id">
                                                    {{ course.name }}
                                                </option>
                                            </b-select>
                                        </div>
                                    </div>
                                    <div class="field is-horizontal">
                                        <div class="field-label">
                                            <label class="label">Role</label>
                                        </div>
                                        <div class="field-body">
                                            <b-select placeholder="Select Role" v-model="profile.role_id">
                                                <option
                                                        v-for="role in fetchedRoles"
                                                        :value="role.id"
                                                        :key="role.id">
                                                    {{ role.name }}
                                                </option>
                                            </b-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <h1 class="subtitle is-4">Contact Details</h1>
                                <div class="column is-12">
                                    <div class="field is-horizontal">
                                        <div class="field-label">
                                            <label class="label">Address</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input type="text" class="input" v-model="profile.address">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field is-horizontal">
                                        <div class="field-label">
                                            <label class="label">Phone</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input type="text" class="input" v-model="profile.phone">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field is-horizontal">
                                        <div class="field-label">
                                            <label class="label">Email</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input type="text" class="input" v-model="profile.email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="control has-text-right">
                        <button class="is-primary button">Submit</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.getFaculties();
            this.getCourses();
            this.getRoles();
        },
        watch: {
            fetchedFaculties: function () {
                if(!this.fetchedFaculties)
                    this.fetchedFaculties = this.getFaculties()
            },
            fetchedCourses: function () {
                if(!this.fetchedCourses)
                    this.fetchedCourses = this.getCourses()
            },
            fetchedRoles: function () {
                if(!this.fetchedRoles)
                    this.fetchedRoles = this.getRoles()
            }
        },
        data() {
            return {
                profile: {
                    first_name: '',
                    middle_name: '',
                    last_name: '',
                    gender: '',
                    avatar: [],
                    identifier: '',
                    registration_year: '',
                    faculty_id: null,
                    course_id: null,
                    role_id: null,
                    address: null,
                    phone: null,
                    email: null
                },
                formData: new FormData(),
                fetchedFaculties: [],
                fetchedCourses: [],
                fetchedRoles: []
            }
        },
        methods: {
            saveStaff: function () {
               let data = {
                    'first_name': this.profile.first_name,
                    'middle_name': this.profile.middle_name,
                    'last_name': this.profile.last_name,
                    'gender': this.profile.gender,
                    'avatar': this.profile.avatar[0],
                    'identifier': this.profile.identifier,
                    'registration_year': this.profile.registration_year,
                    'faculty_id': this.profile.faculty_id,
                    'course_id': this.profile.course_id,
                    'role_id': this.profile.role_id,
                    'address': this.profile.address,
                    'phone': this.profile.phone,
                    'email': this.profile.email
                };
                for (let i in data){
                    this.formData.append(i, data[i]);
                }

                axios({
                    method: 'post',
                    url: '/profile',
                    data: this.formData
                }).then(response => {
                    this.success(response.data.message)
                }).catch(error => {
                    this.failed(error.message);
                    console.log(error);
                })
            },
            getFaculties: function () {
                axios.get('/api/faculties').then(response => {
                    this.fetchedFaculties = response.data.faculties;
                }).catch(err => {
                    console.log(err);
                })
            },
            getCourses: function () {
                axios.get('/api/courses').then(response => {
                    this.fetchedCourses = response.data.courses;
                }).catch(err => {
                    console.log(err);
                })
            },
            getRoles: function () {
                axios.get('/api/roles').then(response => {
                    this.fetchedRoles = response.data.roles;
                }).catch(err => {
                    console.log(err);
                })
            },
            deleteDropFile(index) {
                this.profile.avatar.splice(index, 1)
            },
            success(msg) {
                this.$toast.open({
                    duration: 5000,
                    message: msg,
                    position: 'is-bottom',
                    type: 'is-success'
                })
            },
            failed(msg) {
                this.$toast.open({
                    duration: 5000,
                    message: msg,
                    position: 'is-bottom',
                    type: 'is-danger'
                })
            }
        }
    }
</script>