<template>
    <div class="hero">
        <div class="hero-head">
            <h1 class="title">INSTITUTION INFORMATION</h1>
        </div>
        <div class="hero-body">
            <!--<div class="container">-->
                <div class="columns is-multiline">
                    <div class="column is-10 is-offset-1">
                        <div class="box">
                            <div class="columns is-multiline">
                                <div class="column is-12">
                                    <form action="#" @submit.prevent="saveInstitution">
                                        <div class="field is-horizontal">
                                            <div class="field-label">
                                                <label class="label">Name</label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control">
                                                        <input type="text" v-model="institution.name" class="input" placeholder="Institution Name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field is-horizontal">
                                            <div class="field-label">
                                                <label class="label">Registration</label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control">
                                                        <input type="text" v-model="institution.registration" class="input" placeholder="Institution Registration">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field is-horizontal">
                                            <div class="field-label">
                                                <label class="label">location</label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control">
                                                        <input type="text" v-model="institution.location" class="input" placeholder="Institution Address">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field is-horizontal">
                                            <div class="field-label">
                                                <label class="label">Type</label>
                                            </div>
                                            <div class="field-body">
                                                <b-field>
                                                    <b-select placeholder="Select Type" v-model="institution.university_type_id">
                                                        <option :value="type.id" v-for="type in universityType">{{ type.name}}</option>
                                                    </b-select>
                                                </b-field>
                                            </div>
                                        </div>
                                        <div class="field is-grouped is-grouped-right">
                                            <p class="control">
                                                <button class="button">
                                                    Reset
                                                </button>
                                            </p>
                                            <p class="control">
                                                <button class="button is-primary" type="submit">
                                                    Save
                                                </button>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                                <hr>
                                <div class="column is-12">
                                    <b-tabs type="is-toggle">
                                        <b-tab-item label="Faculty">
                                            <div class="section">
                                                <form action="#" @submit.prevent="saveFaculty">
                                                    <b-field grouped>
                                                        <b-input placeholder="Faculty Name" v-model="faculty.name" expanded></b-input>
                                                        <p class="control">
                                                            <button class="button is-primary" type="submit">Add</button>
                                                        </p>
                                                    </b-field>
                                                </form>
                                                <br>
                                                <b-table
                                                        :data="fetchedFaculties"
                                                        :paginated="isPaginated"
                                                        :per-page="perPage"
                                                        :pagination-simple="isPaginationSimple"
                                                        :default-sort-direction="defaultSortDirection"
                                                        default-sort="user.first_name">

                                                    <template scope="props">
                                                        <b-table-column field="id" label="ID" width="40" sortable numeric>
                                                            {{ props.row.id }}
                                                        </b-table-column>

                                                        <b-table-column field="user.first_name" label="Faculty" sortable>
                                                            {{ props.row.name }}
                                                        </b-table-column>

                                                        <b-table-column field="user.last_name" label="Action" sortable>
                                                            <b-icon class="is-link" icon="create"></b-icon>
                                                            <button class="is-danger delete button" @click="deleteFaculty(props.row.id)"></button>
                                                            <b-icon icon="delete" type="is-danger"></b-icon>
                                                            <!--{{ props.row.user.last_name }}-->
                                                        </b-table-column>
                                                    </template>
                                                </b-table>
                                            </div>
                                        </b-tab-item>
                                        <b-tab-item label="Course">
                                            <div class="section">
                                                <form action="#" @submit.prevent="saveCourse">

                                                    <b-field grouped group-multiline>
                                                        <b-field>
                                                            <b-input placeholder="Course Name" v-model="course.name" expanded></b-input>
                                                        </b-field>
                                                        <b-field>
                                                            <b-select placeholder="Select faculty" v-model="course.faculty_id">
                                                                <option :value="faculty.id" v-for="faculty in fetchedFaculties">{{ faculty.name }}</option>
                                                            </b-select>
                                                        </b-field>
                                                        <b-field>
                                                            <b-select placeholder="Duration" v-model="course.duration">
                                                                <option value="3_months">3 months</option>
                                                                <option value="6_months">6 months</option>
                                                                <option value="9_months">9 months</option>
                                                            </b-select>
                                                        </b-field>

                                                        <b-field>
                                                            <button class="button is-primary" type="submit">Add</button>
                                                        </b-field>
                                                    </b-field>
                                                </form>
                                                <br>
                                                <b-table
                                                        :data="fetchedCourses"
                                                        :paginated="isPaginated"
                                                        :per-page="perPage"
                                                        :pagination-simple="isPaginationSimple"
                                                        :default-sort-direction="defaultSortDirection"
                                                        default-sort="user.first_name">

                                                    <template scope="props">
                                                        <b-table-column field="id" label="ID" width="40" sortable numeric>
                                                            {{ props.row.id }}
                                                        </b-table-column>

                                                        <b-table-column field="user.first_name" label="Faculty" sortable>
                                                            {{ props.row.name }}
                                                        </b-table-column>

                                                        <b-table-column field="user.last_name" label="Action" sortable>
                                                            <b-icon icon="create"></b-icon>
                                                            <button class="delete is-danger button" @click="deleteCourse(props.row.id)"></button>
                                                            <!--{{ props.row.user.last_name }}-->
                                                        </b-table-column>
                                                    </template>
                                                </b-table>
                                            </div>
                                        </b-tab-item>
                                        <b-tab-item label="Subject">
                                            <div class="section">
                                                <form action="#" @submit.prevent="saveSubject">
                                                    <b-field grouped group-multiline>
                                                        <b-field>
                                                            <b-input placeholder="Subject" v-model="subject.name"></b-input>
                                                        </b-field>
                                                        <b-field>
                                                            <b-select placeholder="Select Course" v-model="subject.course_id">
                                                                <option :value="course.id" v-for="course in fetchedCourses">{{  course.name }}</option>
                                                            </b-select>
                                                        </b-field>
                                                        <b-field>
                                                            <button class="button is-primary" type="submit">Add</button>
                                                        </b-field>
                                                    </b-field>
                                                </form>
                                                <br>
                                                <b-table
                                                        :data="fetchedSubjects"
                                                        :paginated="isPaginated"
                                                        :per-page="perPage"
                                                        :pagination-simple="isPaginationSimple"
                                                        :default-sort-direction="defaultSortDirection"
                                                        default-sort="user.first_name">

                                                    <template scope="props">
                                                        <b-table-column field="id" label="ID" width="40" sortable numeric>
                                                            {{ props.row.id }}
                                                        </b-table-column>

                                                        <b-table-column field="user.first_name" label="Faculty" sortable>
                                                            {{ props.row.name }}
                                                        </b-table-column>

                                                        <b-table-column field="user.last_name" label="Action" sortable>
                                                            <b-icon icon="create"></b-icon>
                                                            <button class="delete is-danger button" @click="deleteSubject(props.row.id)"></button>
                                                            <!--{{ props.row.user.last_name }}-->
                                                        </b-table-column>
                                                    </template>
                                                </b-table>
                                            </div>
                                        </b-tab-item>
                                    </b-tabs>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--</div>-->
        </div>
    </div>
</template>
<script>
    export default {
        props: ['universityType', 'facultyData', 'courseData'],
        mounted() {
            this.getFaculties();
            this.getCourses();
            this.getSubjects();
        },
        watch: {
          universityType: function () {

          },
          fetchedFaculties: function () {
            if(!this.fetchedFaculties)
                this.fetchedFaculties = this.getFaculties()
          },
          fetchedCourses: function () {
                if(!this.fetchedCourses)
                    this.fetchedCourses = this.getCourses()
          },
          fetchedSubjects: function () {
                if(!this.fetchedSubjects)
                    this.fetchedSubjects = this.getSubjects()
          }
        },
        data() {
            const tableData = [
                    {"id":1,"user":{"first_name":"Jesse","last_name":"Simmons"},"date":"2016-10-15 13:43:27","gender":"Male"},
                    {"id":2,"user":{"first_name":"John","last_name":"Jacobs"},"date":"2016-12-15 06:00:53","gender":"Male"},
                    {"id":3,"user":{"first_name":"Tina","last_name":"Gilbert"},"date":"2016-04-26 06:26:28","gender":"Female"},
                    {"id":4,"user":{"first_name":"Clarence","last_name":"Flores"},"date":"2016-04-10 10:28:46","gender":"Male"},
                    {"id":5,"user":{"first_name":"Anne","last_name":"Lee"},"date":"2016-12-06 14:38:38","gender":"Female"}
                    ];
            return {
                fetchedFaculties: [],
                fetchedCourses: [],
                fetchedSubjects: [],
                tableData,
                isPaginated: true,
                isPaginationSimple: true,
                defaultSortDirection: 'asc',
                perPage: 5,
                institution: {
                    name: '',
                    university_type_id: null,
                    location: '',
                    registration: ''
                },
                faculty: {
                    name: ''
                },
                course: {
                    name: '',
                    faculty_id: null,
                    duration: null
                },
                subject: {
                    name: '',
                    course_id: null
                }
            }
        },
        methods: {
            saveInstitution: function () {
                axios.post('/university', {
                    'university_type_id': this.institution.university_type_id,
                    'name': this.institution.name,
                    'location': this.institution.location,
                    'registration': this.institution.registration
                }).then(response => {
                    this.success(response.data.message);
                }).catch(error => {
                    this.failed(error.message);
                    console.log(error)
                })
            },
            saveFaculty: function () {
                axios.post('/faculty', {
                    'name': this.faculty.name
                }).then(response => {
                    this.getFaculties();
                    this.success(response.data.message);
                }).catch(error => {
                    this.failed(error.message);
                    console.log(error)
                })
            },
            saveCourse: function () {
                axios.post('/course', {
                    'name': this.course.name,
                    'faculty_id': this.course.faculty_id,
                    'duration': this.course.duration
                }).then(response => {
                    this.getCourses();
                    this.success(response.data.message);
                }).catch(error => {
                    this.failed(error.message);
                    console.log(error)
                })
            },
            saveSubject: function () {
                axios.post('/subject', {
                    'name': this.subject.name,
                    'course_id': this.subject.course_id
                }).then(response => {
                    this.getSubjects();
                    this.success(response.data.message);
                }).catch(error => {
                    this.failed(error.message);
                    console.log(error)
                })
            },
            getFaculties: function () {
              axios.get('/api/faculties').then(response => {
                  this.fetchedFaculties = response.data.faculties;
              }).catch(err => {
                  console.log(err);
              })
            },
            getCourses: function () {
              axios.get('/api/courses').then(response => {
                  this.fetchedCourses = response.data.courses;
              }).catch(err => {
                  console.log(err);
              })
            },
            getSubjects: function () {
              axios.get('/api/subjects').then(response => {
                  this.fetchedSubjects = response.data.subjects;
              }).catch(err => {
                  console.log(err);
              })
            },
            deleteFaculty: function (id) {
                axios.delete('/faculty/'+id).then(response => {
                    this.getFaculties();
                    this.success(response.data.message);
                }).catch(error => {
                    this.failed(error.message);
                    console.log(error)
                })
            },
            deleteCourse: function (id) {
                axios.delete('/course/'+id).then(response => {
                    this.getCourses();
                    this.success(response.data.message);
                }).catch(error => {
                    this.failed(error.message);
                    console.log(error)
                })
            },
            deleteSubject: function (id) {
                axios.delete('/subject/'+id).then(response => {
                    this.getSubjects();
                    this.success(response.data.message);
                }).catch(error => {
                    this.failed(error.message);
                    console.log(error)
                })
            },
            success(msg) {
                this.$toast.open({
                    duration: 5000,
                    message: msg,
                    position: 'is-bottom',
                    type: 'is-success'
                })
            },
            failed(msg) {
                this.$toast.open({
                    duration: 5000,
                    message: msg,
                    position: 'is-bottom',
                    type: 'is-danger'
                })
            }
        }
    }
</script>