<template>
    <div class="chat-container">
        <div class="columns is-multiline">
            <div class="column is-12">
                <!--<article class="media">-->
                    <!--<figure class="media-left">-->
                        <!--<p class="image is-64x64">-->
                            <!--<img src="http://bulma.io/images/placeholders/128x128.png">-->
                        <!--</p>-->
                    <!--</figure>-->
                    <!--<div class="media-content">-->
                        <!--<div class="content">-->
                            <!--<p class="message-container-trunc truncate">-->
                                <!--<strong>Aneth John</strong>-->
                                <!--<br>-->
                                <!--B'com Finance-->
                                <!--<br>-->
                                <!--2<sup>nd</sup> year-->
                                <!--<br>-->
                                <!--2012-04-07886-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</article>-->
                <!--<hr>-->
                <div class="conversation" v-for="message in messages">
                    <div class="reply" v-if="message.profile_id !== receiver_id">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        {{ message.message }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="send" v-if="message.profile_id === receiver_id">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        {{ message.message }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="column is-12">
                <form action="" @submit.prevent="sendMessage">
                    <input type="hidden" name="receiver_id" v-model="receiver_id">
                    <div class="field is-grouped">
                        <div class="control is-expanded">
                            <input type="text" name="message" placeholder="Start Typing..." v-model="message" class="input">
                        </div>
                        <div class="control">
                            <button class="button is-info">
                                Send
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['profile_id'],
        mounted: function() {
            this.getMessages();
        },
        watch: {
            profile_id: function () {
                this.getMessages();
                this.receiver_id = this.profile_id;
            }
        },
        data: function () {
            return {
                messages: [],
                receiver_id: this.profile_id,
                message: ''
            }
        },
        methods: {
            sendMessage: function() {
                axios.post('/dashboard/sendmessage', {
                    message: this.message,
                    receiver_id: this.receiver_id
                }).then( (response)=> {
                    this.messages.push({message: response.data.message, reply: true});// = "";
                    this.message = '';
//                    console.log(response.data);
                }).catch(function (err) {
                    console.log(err);
                })
            },
            getMessages: function() {
                axios.get('/dashboard/conversation/'+this.profile_id).then(response => {
                    this.messages = response.data;
                    console.log(this.messages);
                }).catch(error => {
                    console.log(error)
                });
            }
        },
        computed: {
            profileId: function () {
                this.getMessages();
                return this.profile_id;
            }
        }
    }
</script>